/****** Default & General Styling ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    color: #F9F9F9;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
}

h2,
h3,
h4 {
    font-weight: 500;
    text-shadow: -4px 2px #211E1F;
}

p {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.4;
    opacity: 0.95;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

/****** Preloader ******/

.Preloader {
    align-items: center;
    background-color: #333333;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.Preloader.Hideout {
    -webkit-animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/****** Wrapper & Main******/

.wrapper {
    width: 100%;
}

main {
    text-align: left;
}


/****** Navbar ******/

nav {
    background-color: #211E1F;
    font-family: 'Mulish', sans-serif;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 35px 0;
    position: fixed;
    transition: top 0.7s;
    top: 0;
    width: 100%;
    z-index: 20;
}

nav img {
    width: 100px;
}

nav .Logo-Text {
    margin-left: 5px;
    width: 300px;
}

.Nav-Menu a {
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 30px;
    transition: all 0.5s ease;
}

.Nav-Menu a:hover {
    box-shadow: 0 0px 8px 2px #B0A5AA inset;
    border-radius: 5px;
    padding: 10px 30px;
}

/****** Scrollbar ******/

/* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: #211E1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: 0 0px 8px 2px #B0A5AA inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0px 5px 2px #B0A5AA inset;
}

/****** Images Slider ******/

.ImageSlider-Container {
    height: 700px;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 60px;
    width: 100%;
}

.ImageSlider-Container img {
    height: 700px;
    width: 100%;
}

.slide {
    display: none;
    position: relative;
}

.fade {
    -webkit-animation: fade 1.7s ease-out;
    animation: fade 1.7s ease-out;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/****** Wondering Section ******/

.Wondering-Container {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 400px;
    overflow: hidden;
    padding: 50px 35px 0 0;
    position: relative;
    top: 60px;
    width: 100%;
}

.wondering {
    border-radius: 0 100px 0 0;
    box-shadow: 0 0px 160px 2px #D9CED3 inset;
    height: 350px;
    justify-content: center;
}

.slide-from-left {
    -webkit-animation: slideInFromLeft 1.3s ease-in-out;
    animation: slideInFromLeft 1.3s ease-in-out;
}

@-webkit-keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.wondering img {
    margin-left: -10px;
    width: 60%;
}

.Wondering-Text {
    align-items: baseline;
    flex-direction: column;
    padding: 10px 100px 0;
}

.Wondering-Text h5 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 25px;
    opacity: 0;
    text-shadow: -1px 1px #544F51;
}

.into-visibility {
    -webkit-animation: intoVisibility 1.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: intoVisibility 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@-webkit-keyframes intoVisibility {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes intoVisibility {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/****** Steps Section ******/

.Steps-Container {
    background-color: #544F51;
    border-radius: 0 0 100px 0;
    overflow: hidden;
    padding: 40px 35px 80px;
    margin: 110px 80px 0 0;
}

.Steps-Container h3 {
    font-size: 2rem;
}

.Sub-Steps-Container {
    justify-content: space-between;
    margin: 60px auto;
    padding: 0 40px;
    width: 1200px;
}

.steps {
    background-color: #333333;
    border-radius: 0 0 100px 0;
    box-shadow: 20px 20px 20px -10px #D9CED3;
    position: relative;
    padding: 35px 40px 55px;
    width: 330px;
}

.step2 {
    top: 25px;
}

.Sub-Steps-Container img {
    background-color: #544F51;
    height: 140px;
    padding: 10px;
    width: 100%;
}

.Steps-Text {
    margin-top: 10px;
}

.Steps-Text h4 {
    font-size: 1.3rem;
    line-height: 3;
}

.Steps-Text p {
    font-size: 1rem;
    line-height: 1.5;
}

/****** Featured Projects ******/

.Featured-Projects-Container {
    border-radius: 100px 0 0 100px;
    box-shadow: 0px 0px 160px 2px #D9CED3 inset;
    height: 650px;
    margin: 80px 0 0 80px;
    overflow: hidden;
    padding: 40px 80px;
    position: relative;
}

.Featured-Projects-Container h2 {
    font-size: 2.5rem;
}

.FP-Carousel {
    height: 450px;
    justify-content: center;
    margin: 35px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.FP-Carousel-Content {
    height: 450px;
    position: relative;
    transform: translateX(-80px);
    transition: all 900ms ease-in-out;
    width: 70%;
}

.FP-Slide {
    height: 100%;
    padding: 0 40px;
    position: absolute;
    transition: all 900ms ease-in-out;
    width: 100%;
}

.FP-Slide img {
    border-radius: 2px;
    height: 100%;
    margin: 0 80px;
    width: 100%;
}

.FP-Slide-Unfocused {
    margin: 10px 0;
    opacity: .2;
}

.FP-Nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease;
    z-index: 10;
}

.FP-Carousel-Icon {
    height: 30px;
    transition: all 300ms ease;
    width: 15px;
}

.FP-Carousel-Icon:hover {
    height: 35px;
    width: 16px;
}

.FP-Nav-Left {
    filter: drop-shadow(-5px 0 #211E1F);
    -webkit-filter: drop-shadow(-5px 0 #211E1F);
    left: 14.5%;
}

.FP-Nav-Right {
    filter: drop-shadow(5px 0 #211E1F);
    -webkit-filter: drop-shadow(5px 0 #211E1F);
    right: 14.5%;
}


.FP-Nav-Left:hover {
    filter: drop-shadow(-10px 0px #211E1F);
    -webkit-filter: drop-shadow(-10px 0px #211E1F);
}

.FP-Nav-Right:hover {
    filter: drop-shadow(10px 0 #211E1F);
    -webkit-filter: drop-shadow(10px 0 #211E1F);
}

.FP-Nav-Dots {
    height: 32px;
    justify-content: center;
    left: 83%;
    margin: 16px 0;
    position: absolute;
    top: 35px;
}

.Single-Dot {
    background: #333333;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    margin: 0 7px;
    transition: all 400ms ease;
    width: 10px;
}

.Single-Dot:hover {
    box-shadow: 0 0 5px 1px #F9F9F9;
}

.Single-Dot.SD-Active {
    background: #F9F9F9;
    border: 2px solid #333333;
    box-shadow: 0 0 5px 2px #F9F9F9;
}

/****** Qualities & Reasons ******/

.Reasons-Container {
    margin: 50px 0 20px;
    overflow: hidden;
    padding: 40px 35px;
}

.Reasons-Container h2 {
    font-size: 2.7rem;
}

.Sub-Reasons-Container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.reason {
    background-color: #544F51;
    box-shadow: 0 -8px 2px -1px #211E1F;
    height: 270px;
    margin: 20px;
    padding: 30px;
    width: 370px;
}

.reason h4 {
    font-size: 1.3rem;
    text-shadow: -3px 1px #211E1F;
}

.Partition-Line {
    background-color: #333333;
    border-radius: 10px;
    height: 3px;
    margin: 15px 0 15px -1px;
    width: 25%;
}

/****** Footer ******/

footer {
    background-color: #211E1F;
    padding: 40px 90px;
    width: 100%;
}

footer img {
    width: 300px;
}

footer ul {
    margin-left: 120px;
}

footer li {
    list-style-type: none;
}

footer p {
    line-height: 2;
}

footer span {
    text-align: left;
    margin-right: 10px;
    width: 30px;
}

footer a {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    transition: all 100ms ease;
}

footer a:hover {
    text-shadow: -2px 2px black;
}

.copyright {
    margin-left: 130px;
    padding-bottom: 10px;
    text-align: left;
    width: 200px;
}

.copyright small {
    opacity: 0.3;
}

/****** Consulation Button ******/

.Consulation-Btn {
    align-items: baseline;
    background-color: #211E1F;
    bottom: 0px;
    box-shadow: 0px 0px 10px 2px #B0A5AA inset;
    font-family: 'Mulish', sans-serif;
    padding: 10px 30px;
    position: fixed;
    right: 5px;
    transition: all 300ms ease-in-out;
}

.Consulation-Btn:hover {
    box-shadow: 0px 0px 17px 2px #B0A5AA inset;
}

.Consulation-Btn h6 {
    font-size: 1.1rem;
    font-weight: 500;
    padding-right: 12px;
}

.Consulation-Btn img {
    width: 15px;
}

/****** Portfolio - Interior Design ******/

.Portfolio-Section {
    margin: 120px 0 50px;
    text-align: center;
}

.Portfolio-Section h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.Portfolio-Section ul {
    list-style: none;
}

.Portfolio-Container {
    margin: auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    width: 1220px;
}

.filter-menu {
    margin-bottom: 40px;
}

.filter-menu li {
    border-radius: 2px;
    box-shadow: 0px 0px 10px 1px #D9CED3 inset;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 5px;
    padding: 10px 0;
    transition: all 500ms ease-in-out;
    width: 130px;
}

.filter-menu li:hover {
    background-color: #211E1F;
}

.filter-menu li.current {
    background-color: #B0A5AA;
    box-shadow: 0px 0px 20px 1px #544F51 inset;
    color: #211E1F;
    font-weight: 600;
}

.filter-item li {
    float: left;
    padding: 15px 10px;
    width: 33.33%;
}

.filter-item li.active {
    padding: 15px 10px;
    transition: all 150ms ease;
    width: 33.33%;
}

.filter-item li.delete {
    padding: 0;
    transition: all 150ms ease;
    width: 0%;
}

.filter-item-li-visibility {
    -webkit-animation: li-visibility 1.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: li-visibility 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@-webkit-keyframes li-visibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes li-visibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter-item .Project-Card {
    background-color: #544F51;
    box-shadow: 0 -8px 2px -1px #211E1F;
    height: 320px;
    padding: 20px;
    text-align: left;
    width: 370px;
    margin: 0 auto;
}

.Project-Card img {
    box-shadow: 0 0 15px 2px #211E1F;
    cursor: pointer;
    display: block;
    transition: all 700ms ease;
    width: 100%;
}

.Project-Card img:hover {
    box-shadow: 0 0 10px 2px #F9F9F9;
}

.Project-Card .Partition-Line {
    margin: 20px 0 15px 2px;
}

.Project-Card h6 {
    font-size: 1rem;
    font-weight: 400;
    text-shadow: -2px 1px #211E1F;
    margin: 0 0 0 2px;
}

/****** Portfolio - Interior Design | Project Images on Click ******/

.Portfolio-Modal {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 21;
}

.Portfolio-Modal-Content {
    display: block;
    margin: auto;
    max-width: 700px;
    overflow: hidden;
    width: 80%;
}

.Portfolio-Modal-Project {
    background-color: #333333;
    margin: auto auto -4px;
    width: 100%;
}

.Portfolio-Modal-Project img {
    width: 100%;
}

.Portfolio-Modal-Close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    transition: 0.3s;
    top: 15px;
}

.Portfolio-Modal-Close:hover,
.Portfolio-Modal-Close:focus {
    color: #B0A5AA;
    cursor: pointer;
    text-decoration: none;
}

/****** Contact Section ******/

.Contact-Section {
    grid-template-columns: 55% 1fr;
    height: 600px;
    margin: 100px 0 40px;
}

.Business-Deal-Image {
    border-radius: 0 30px 30px 0;
    height: 100%;
    overflow: hidden;
}

.Business-Deal-Image img {
    height: 100%;
    opacity: 0.9;
    width: 100%;
}

.Contact-Form-Section {
    height: 100%;
    padding: 70px 0 0 40px;
}

.Contact-Form-Section h2 {
    font-size: 2rem;
    margin-right: 80px;
}

.Contact-Form-Section p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin: 15px 80px 25px 4px;
    text-shadow: -1px 1px #544F51;
}

#Contact-Form {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: left;
    margin-top: -10px;
    overflow: hidden;
    padding: 0 2px;
    width: 500px;
}

input,
textarea {
    background-color: #211E1F;
    border: none;
    border-radius: 10px 0 0 0;
    box-shadow: 0px 0px 5px 1px #D9CED3 inset;
    color: #F9F9F9;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 20px 20px 0 0;
    outline: none;
    overflow: hidden;
    padding: 10px 15px;
}

input[type=text],
input[type=tel] {
    height: 40px;
    width: 220px;
}

input[type=email] {
    height: 40px;
    width: 300px;
}

textarea {
    height: 150px;
    resize: none;
    width: 460px;
}

input[type=submit] {
    background-image: linear-gradient(to right, #211E1F, #544F51);
    border-radius: 2px;
    color: #F9F9F9;
    cursor: pointer;
    font-weight: 400;
    width: 120px;
}

input[type=submit]:hover {
    background-image: linear-gradient(to right, #211E1F, #D9CED3);
    color: #211E1F;
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: #F9F9F9;
    -webkit-box-shadow: 0px 0px 5px 1px #D9CED3 inset;
    box-shadow: 0px 0px 5px 1px #D9CED3 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/****** Contact Form - Success ******/

.swal-modal {
    background-color: #B0A5AA;
    box-shadow: 0px 0px 5px 1px #211E1F inset;
    padding-bottom: 40px;
}

.swal-title {
    color: #333333;
}

.swal-text {
    color: #333333;
}

.swal-icon--success:after,
.swal-icon--success:before {
    background-color: transparent;
}

.swal-icon--success {
    border-color: #544F51;
}

.swal-icon--success__line {
    background-color: #544F51;
}

.swal-icon--success__hide-corners {
    background-color: transparent;
}

.swal-footer {
    display: none;
}

/****** For Cell Phones Screen ******/

@media (max-width:700px) {

    /****** Preloader ******/

    .Preloader img {
        width: 15%;
    }

    /****** Wrapper & Main******/

    .wrapper {
        max-width: 100%;
        min-width: 375px;
    }

    /****** Navbar ******/

    nav {
        padding: 0 10px 0 10px;
        min-width: 375px;
        width: 100%;
    }

    nav img {
        width: 85px;
    }

    nav .Logo-Text {
        display: none;
    }

    .Nav-Menu a {
        font-size: 0.80rem;
        font-weight: 500;
        padding: 16px 12px;
    }

    .Nav-Menu a:hover {
        box-shadow: 0 0px 6px 1px #B0A5AA inset;
        padding: 8px 12px;
    }

    /****** Scrollbar ******/

    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        box-shadow: 0 0px 6px 1px #B0A5AA inset;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        box-shadow: 0 0px 7px 1px #B0A5AA inset;
    }

    /****** Images Slider ******/

    .ImageSlider-Container {
        height: 250px;
        top: 50px;
    }

    .ImageSlider-Container img {
        height: 250px;
    }

    /****** Wondering Section ******/

    .Wondering-Container {
        display: flex;
        height: auto;
        padding: 8px 10px 0 0;
        top: 70px;
    }

    .wondering {
        border-radius: 0 50px 0 0;
        box-shadow: 0 0px 75px 2px #D9CED3 inset;
        height: 270px;
        padding: 50px 15px;
    }

    .slide-from-left {
        -webkit-animation: slideInFromLeft 1s ease-in-out;
        animation: slideInFromLeft 1s ease-in-out;
    }

    .wondering img {
        width: 120px;
    }

    .Wondering-Text {
        padding: 10px 5px 0 20px;
        margin: 0 auto;
        width: 240px;
    }

    .Wondering-Text h5 {
        font-size: 0.9rem;
        margin: 0 0 15px 0;
    }

    /****** Steps Section ******/

    .Steps-Container {
        border-radius: 0 0 50px 0;
        margin: 83px 50px 0 0;
        padding: 30px 25px 0;
    }

    .Steps-Container h3 {
        font-size: 1.4rem;
    }

    .Sub-Steps-Container {
        flex-direction: column;
        margin: 30px 0 0;
        width: auto;
    }

    .steps {
        border-radius: 0 0 50px 0;
        box-shadow: 15px 15px 20px -10px #D9CED3;
        margin-bottom: 37px;
        padding: 15px 15px 35px;
        width: 250px;
    }

    .step2 {
        top: 0;
    }

    .Steps-Text {
        margin-top: 0;
    }

    .Steps-Text h4 {
        font-size: 1.2rem;
    }

    .Steps-Text p {
        font-size: 0.85rem;
    }

    /****** Featured Projects ******/

    .Featured-Projects-Container {
        border-radius: 0;
        box-shadow: 0px 0px 100px 2px #D9CED3 inset;
        height: 390px;
        margin: 30px 0 0;
        padding: 30px;
    }

    .Featured-Projects-Container h2 {
        font-size: 1.4rem;
        text-shadow: -3px 2px #211E1F;
    }

    .FP-Carousel {
        height: 220px;
        margin: 35px auto;
        overflow: visible;
        width: 340px;
    }

    .FP-Carousel-Content {
        height: 220px;
        transform: translateX(0px);
        width: 340px;
    }

    .FP-Slide {
        padding: 0;
    }

    .FP-Slide img {
        margin: 0;
    }

    .FP-Nav {
        top: 115%;
    }

    .FP-Carousel-Icon {
        height: 20px;
        transition: all 200ms ease;
        width: 10px;
    }

    .FP-Carousel-Icon:hover {
        height: 22px;
        width: 11px;
    }

    .FP-Nav-Left {
        -webkit-filter: drop-shadow(-5px 0 #211E1F);
        filter: drop-shadow(-5px 0 #211E1F);
        left: 35%;
    }

    .FP-Nav-Right {
        -webkit-filter: drop-shadow(5px 0 #211E1F);
        filter: drop-shadow(5px 0 #211E1F);
        right: 35%;
    }


    .FP-Nav-Left:hover {
        -webkit-filter: drop-shadow(-7px 0px #211E1F);
        filter: drop-shadow(-7px 0px #211E1F);
    }

    .FP-Nav-Right:hover {
        -webkit-filter: drop-shadow(7px 0 #211E1F);
        filter: drop-shadow(7px 0 #211E1F);
    }

    .FP-Nav-Dots {
        height: 20px;
        left: 65%;
        margin: 0 0;
        top: 33px;
    }

    .Single-Dot {
        margin: 0 4px;
    }

    /****** Qualities & Reasons ******/

    .Reasons-Container {
        margin: 20px 0 10px;
        padding: 40px 30px;
        text-align: center;
    }

    .Reasons-Container h2 {
        font-size: 1.5rem;
    }

    .reason {
        height: 220px;
        margin: 18px;
        padding: 20px;
        width: 300px;
        text-align: left;
    }

    .reason h4 {
        font-size: 1.05rem;
        letter-spacing: 0.40px;
    }

    .reason p {
        font-size: 0.80rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        opacity: 0.90;
    }


    /****** Footer ******/

    footer {
        padding: 30px 30px;
    }

    .Footer-Container {
        flex-direction: column;
    }

    footer ul {
        margin: 25px 0 30px;
        width: 275px;
    }

    footer p {
        font-size: 0.85rem;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .copyright {
        margin-left: 0;
        width: 275px;
        font-size: 0.75rem;
    }

    /****** Consulation Button ******/

    .Consulation-Btn {
        box-shadow: 0px 0px 8px 2px #B0A5AA inset;
        padding: 8px 15px;
    }

    .Consulation-Btn:hover {
        box-shadow: 0px 0px 13px 2px #B0A5AA inset;
    }

    .Consulation-Btn h6 {
        font-size: 0.9rem;
        font-weight: 400;
        padding-right: 10px;
    }

    .Consulation-Btn img {
        width: 13px;
    }

    /****** Portfolio - Interior Design ******/

    .Portfolio-Section {
        margin: 110px 0 40px;
    }

    .Portfolio-Section h2 {
        font-size: 1.75rem;
    }

    .Portfolio-Container {
        width: 350px;
    }

    .filter-menu {
        margin: 0 auto 40px;
    }

    .filter-menu li {
        box-shadow: 0px 0px 9px 1px #D9CED3 inset;
        font-size: 0.9rem;
        margin: 0 3px;
        padding: 8px 0;
        transition: all 400ms ease-in-out;
        width: 96px;
    }

    .filter-menu li.current {
        box-shadow: 0px 0px 15px 1px #544F51 inset;
    }

    .filter-item li {
        width: 100%;
    }

    .filter-item li.active {
        width: 100%;
    }

    .filter-item .Project-Card {
        height: 260px;
        padding: 18px;
        width: 280px;
    }

    .Project-Card h6 {
        font-size: 0.9rem;
        letter-spacing: 0.1px;
    }

    /****** Portfolio - Interior Design | Project Images on Click ******/

    .Portfolio-Modal-Content {
        overflow: visible;
        position: relative;
        width: 90%;
    }

    .Portfolio-Modal-Project {
        border-radius: 0 0 4px 4px;
    }

    .Portfolio-Modal-Close {
        right: 25px;
    }

    .Portfolio-Modal-Content .FP-Nav {
        top: 115%;
    }

    .Portfolio-Modal-Content .FP-Nav-Left {
        left: 40%;
    }

    .Portfolio-Modal-Content .FP-Nav-Right {
        right: 40%;
    }

    /****** Contact Section ******/

    .Contact-Section {
        grid-template-columns: 1fr;
        height: auto;
        margin: 100px 0 60px;
    }

    .Business-Deal-Image {
        display: none;
    }

    .Contact-Form-Section {
        height: auto;
        padding: 0 20px;
        width: 375px;
        margin: 0 auto;
        overflow: hidden;
    }

    .Contact-Form-Section h2 {
        font-size: 1.4rem;
        margin-right: 0;
    }

    .Contact-Form-Section p {
        font-size: 0.9rem;
        margin: 15px 35px 25px 2px;
    }

    #Contact-Form {
        margin-top: -13px;
        padding: 0 1px;
        width: 340px;
    }

    input,
    textarea {
        border-radius: 8px 0 0 0;
        font-size: 0.90rem;
        margin: 19px 20px 0 0;
    }

    input[type=text] {
        height: 35px;
        width: 240px;
    }

    input[type=tel] {
        height: 35px;
        width: 200px;
    }

    input[type=email] {
        height: 35px;
        width: 275px;
    }

    textarea {
        height: 130px;
        width: 320px;
    }

    /****** Contact Form - Success ******/

    .swal-modal {
        width: 300px;
    }

    .swal-title {
        display: none;
    }

    .swal-text {
        margin-top: -5px;
    }

}

/****** For Tablet Screen ******/

@media (min-width:700px) and (max-width:1000px) {

    /****** Preloader ******/

    .Preloader img {
        width: 8%;
    }

    /****** Wrapper & Main******/

    .wrapper {
        max-width: 100%;
    }

    /****** Navbar ******/

    nav {
        padding: 0 10px 0 15px;
    }

    nav img {
        width: 90px;
    }

    nav .Logo-Text {
        display: inline-block;
        width: 220px;
    }

    .Nav-Menu a {
        font-size: 0.90rem;
        padding: 17px 16px;
    }

    .Nav-Menu a:hover {
        box-shadow: 0 0px 7px 1px #B0A5AA inset;
        padding: 9px 16px;
    }

    /****** Scrollbar ******/

    /* width */
    ::-webkit-scrollbar {
        width: 14px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        box-shadow: 0 0px 7px 1px #B0A5AA inset;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        box-shadow: 0 0px 8px 1px #B0A5AA inset;
    }

    /****** Images Slider ******/

    .ImageSlider-Container {
        height: 400px;
        top: 55px;
    }

    .ImageSlider-Container img {
        height: 400px;
    }

    /****** Wondering Section ******/

    .Wondering-Container {
        height: 325px;
        padding: 30px 35px 0 0;
    }

    .wondering {
        box-shadow: 0 0px 90px 2px #D9CED3 inset;
        height: 280px;
    }

    .slide-from-left {
        -webkit-animation: slideInFromLeft 1.5s ease-in-out;
        animation: slideInFromLeft 1.5s ease-in-out;
    }

    .Wondering-Text {
        padding: 20px 20px 0 50px;
        justify-content: center;
    }

    .Wondering-Text h5 {
        font-size: 1.05rem;
        margin: 0 0 25px;
    }

    /****** Steps Section ******/

    .Steps-Container {
        border-radius: 0 0 50px 0;
        margin: 83px 65px 0 0;
        padding: 30px 20px 25px;
    }

    .Steps-Container h3 {
        font-size: 1.5rem;
        margin: 0 auto;
        text-shadow: -3px 2px #211E1F;
    }

    .Sub-Steps-Container {
        flex-direction: column;
        justify-content: start;
        margin: 30px 0 0;
        padding: 0;
        width: auto;
    }

    .Sub-Steps-Container img {
        height: 170px;
        padding: 20px;
    }

    .steps {
        border-radius: 0 0 50px 0;
        box-shadow: 15px 15px 20px -10px #D9CED3;
        display: grid;
        grid-template-columns: 45% 1fr;
        margin-bottom: 37px;
        padding: 20px;
        width: 550px;
    }

    .step2 {
        top: 0;
    }

    .Steps-Text {
        margin: 20px 0 20px 30px;
    }

    .Steps-Text h4 {
        font-size: 1.1rem;
        text-shadow: -3px 2px #211E1F;
    }

    .Steps-Text p {
        font-size: 0.92rem;
    }

    /****** Featured Projects ******/

    .Featured-Projects-Container {
        border-radius: 0;
        box-shadow: 0px 0px 100px 2px #D9CED3 inset;
        height: auto;
        margin: 30px 0 0;
        padding: 30px 50px 60px;
    }

    .Featured-Projects-Container h2 {
        font-size: 1.5rem;
        text-shadow: -3px 2px #211E1F;    }

    .FP-Carousel {
        height: 260px;
        margin: 35px auto;
        overflow: visible;
        width: 400px;
    }

    .FP-Carousel-Content {
        height: 260px;
        transform: translateX(0px);
        width: 400px;
    }

    .FP-Slide {
        padding: 0;
        width: 400px;
    }

    .FP-Slide img {
        margin: 0;
    }

    .FP-Nav {
        top: 117%;
    }

    .FP-Carousel-Icon {
        height: 25px;
        transition: all 200ms ease;
        width: 12px;
    }

    .FP-Carousel-Icon:hover {
        height: 30px;
        width: 13px;
    }

    .FP-Nav-Left {
        -webkit-filter: drop-shadow(-5px 0 #211E1F);
        filter: drop-shadow(-5px 0 #211E1F);
        left: 40%;
    }

    .FP-Nav-Right {
        -webkit-filter: drop-shadow(5px 0 #211E1F);
        filter: drop-shadow(5px 0 #211E1F);
        right: 40%;
    }


    .FP-Nav-Left:hover {
        -webkit-filter: drop-shadow(-8px 0px #211E1F);
        filter: drop-shadow(-8px 0px #211E1F);
    }

    .FP-Nav-Right:hover {
        -webkit-filter: drop-shadow(8px 0 #211E1F);
        filter: drop-shadow(8px 0 #211E1F);
    }

    .FP-Nav-Dots {
        height: 20px;
        left: 78%;
        margin: 0;
        top: 33px;
    }

    .Single-Dot {
        margin: 0 5px;
    }

    /****** Qualities & Reasons ******/

    .Reasons-Container {
        margin: 10px 0;
        padding: 40px 20px 30px;
        text-align: center;
    }

    .Reasons-Container h2 {
        font-size: 1.5rem;
    }

    .reason {
        height: 250px;
        margin: 18px;
        padding: 20px;
        text-align: left;
        width: 270px;
    }

    .reason h4 {
        font-size: 1.1rem;
        letter-spacing: 0.40px;
        text-shadow: -2px 1px #211E1F;
    }

    .reason p {
        font-size: 0.8rem;
        letter-spacing: 0.2px;
        opacity: 0.9;
    }


    /****** Footer ******/

    footer {
        padding: 30px 20px;
    }

    .Footer-Container {
        flex-wrap: wrap;
        margin: 0 auto;
        width: 600px;
    }

    footer img {
        width: 280px;
    }

    footer ul {
        margin: 25px 0 30px 40px;
        width: 275px;
    }

    footer span {
        margin-right: 2px;
    }

    footer p {
        font-size: 0.85rem;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .copyright {
        font-size: 0.75rem;
        margin: 20px 0 0;
        text-align: center;
        width: 100%;
    }

    /****** Consulation Button ******/

    .Consulation-Btn {
        box-shadow: 0px 0px 9px 2px #B0A5AA inset;
        padding: 9px 20px;
    }

    .Consulation-Btn:hover {
        box-shadow: 0px 0px 15px 2px #B0A5AA inset;
    }

    .Consulation-Btn h6 {
        font-size: 0.93rem;
        padding-right: 10px;
    }

    .Consulation-Btn img {
        width: 13.5px;
    }

    /****** Portfolio - Interior Design ******/

    .Portfolio-Section {
        margin: 110px 0 40px;
    }

    .Portfolio-Section h2 {
        font-size: 1.8rem;
    }

    .Portfolio-Container {
        padding: 15px 0;
        width: 600px;
    }

    .filter-menu {
        margin: 0 auto 40px;
    }

    .filter-menu li {
        box-shadow: 0px 0px 9px 1px #D9CED3 inset;
        font-size: 0.90rem;
        margin: 0 4px;
        padding: 8.5px 0;
        transition: all 400ms ease-in-out;
        width: 110px;
    }

    .filter-menu li.current {
        box-shadow: 0px 0px 15px 1px #544F51 inset;
    }

    .filter-item li {
        padding: 13px 10px;
        width: 50%;
    }

    .filter-item li.active {
        width: 50%;
    }

    .filter-item .Project-Card {
        height: 260px;
        padding: 18px;
        width: 280px;
    }

    .Project-Card h6 {
        font-size: 0.9rem;
        letter-spacing: 0.1px;
    }

    /****** Portfolio - Interior Design | Project Images on Click ******/

    .Portfolio-Modal-Content {
        width: 60%;
        max-width: 450px;
    }

    .Portfolio-Modal-Project {
        border-radius: 0 0 4px 4px;
    }

    .Portfolio-Modal-Close {
        right: 25px;
    }

    .Portfolio-Modal-Content .FP-Nav {
        top: 50%;
    }

    .Portfolio-Modal-Content .FP-Nav-Left {
        left: 0;
        right: 75%;
    }

    .Portfolio-Modal-Content .FP-Nav-Right {
        left: 75%;
        right: 0;
    }

    /****** Contact Section ******/

    .Contact-Section {
        grid-template-columns: 1fr;
        height: auto;
        margin: 100px 0 60px;
    }

    .Business-Deal-Image {
        display: none;
    }

    .Contact-Form-Section {
        height: auto;
        padding: 0 20px;
        width: 500px;
        margin: 0 auto;
        overflow: hidden;
    }

    .Contact-Form-Section h2 {
        font-size: 1.5rem;
        margin-right: 0;
    }

    .Contact-Form-Section p {
        font-size: 0.95rem;
        margin: 15px 35px 25px 2px;
    }

    #Contact-Form {
        margin-top: -13px;
        padding: 0 1px;
        width: 600px;
    }

    input,
    textarea {
        border-radius: 8px 0 0 0;
        font-size: 0.90rem;
        margin: 19px 20px 0 0;
    }

    input[type=text] {
        height: 35px;
    }

    input[type=tel] {
        height: 35px;
    }

    input[type=email] {
        height: 35px;
    }

    textarea {
        height: 130px;
    }

    /****** Contact Form - Success ******/

    .swal-modal {
        width: 300px;
    }

    .swal-title {
        display: none;
    }

    .swal-text {
        margin-top: -5px;
    }

}